<div class="login">
  <mat-card class="example-card heading ">
    <mat-card-title>Login</mat-card-title>

  </mat-card>
  <mat-card class="example-card login-content">
    <mat-card-header class="">
      <!-- <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Perfil</mat-card-title>-->
    </mat-card-header>
    <!-- <img  mat-card-image src="assets\imagenes\cccc.jpg" alt="Photo of a Shiba Inu">-->


    <mat-card-content>
      <br>

      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Usuario">
        </mat-form-field>
        <br>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="contraseña" type="password">
        </mat-form-field>
      </form>
      <br>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="login-button">iniciar sesion</button>
    </mat-card-actions>
  </mat-card>

  <br>
</div>
<!--<mat-checkbox>He aca una cajita para checar!</mat-checkbox>-->